body {
  background-image: url("/img/pokemon-gif-4k-min.gif");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Oswald", sans-serif;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 1024px) {
  .menu-hamburguesa {
    display: none;
  }
}

.header {
  position: relative;
}

/* MENÚ */
/* Estilos generales */
.navbar-header {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.menu-hamburguesa {
  background-color: #333;
  position: relative;
  margin-left: -30px;
  height: 100px;
}

/* Estilos del botón hamburguesa */
.toggle-menu {
  display: none;
}

.icono-menu {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Estilos del menú */
.menu {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #333;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.menu li {
  border-bottom: 1px solid #444;
}

.menu a {
  display: block;
  padding: 1rem;
  color: #48c513;
  text-decoration: none;
}
.inicioSesion {
  display: flex;
  top: -50px;
  justify-content: flex-end;
  margin-right: 20px;
  position: relative;
  cursor: pointer;
}
.inicioSesion img {
  width: 80px;
}
/* Estilos del menú cuando se muestra */
.toggle-menu:checked + .menu {
  max-height: 100vh;
  transition: max-height 0.3s ease-in-out;
}
.menuGrande {
 
  padding: 20px 100px 20px 100px;
  text-align: center;
  cursor: pointer;
  border: #fff;
  background-color: #c168f1;
  opacity: 0.7;
}
.buscadorYParrafo {
  position: absolute;
  width: 100%;
  display: flex;
  background-color: #333;
  color: #fff;
  padding: 20px 50px 20px 30px;
  align-items: center;
}

.buscador {
  width: 100%;
}
#busqueda {
  margin-top: 10px;
  width: 900px;
  height: 50px;
  border-radius: 7px;
}
.btn img {
  background-color: #aba6a6;
  border-radius: 5px;
  height: 50px;
}
.campo {
  display: flex;
  margin-top: 20px;
  width: 900px;
  text-align: center;
}
.parrafoVerde {
  display: flex;
  position: relative;
  width: 40%;
  background-color: #3faa11;
  border-radius: 5px;
  margin-left: 950px;
  font-size: large;
  margin-top: 25px;
  padding-left: 20px;
}
.parrafoVerde p {
  padding: 10px;
  color: #ffffff;
}

.ordenar {
  position: relative;
  display: flex;
  margin-left: 40px;
  margin-top: 35px;
}

.ordenar-por{
  position: relative;
  left: 160px;
}

.ordenarPor h4{
  
  display: flex;
  cursor: pointer;
  justify-content: center;
  margin-top: 20px;
  align-items:flex-end;
  font-size: large;
  background-color: #333;
  border-radius: 5px;
  color: #fff;
  width: 20%;
  margin-left: 900px;
  padding: 10px;

}

.numeroInferior {
  cursor: pointer;
  display: flex;
  width: 20%;
  justify-content: space-around;
  margin-left: 250px;
  background-color: #333;
  border-radius: 5px;
  color: #f8f8f8;
  padding: 5px;
  margin-top: 10px;
}
.numeroInferior h4 {
  width: 50%;
  padding-top: 15px;
  font-size: medium;
  text-align: center;
}
.logoPokemon img {
  margin-left: 35px;
  width: 25%;
  height: auto;
  padding: 10px;
}

.pokemon-container {
  cursor: pointer;
  position: relative;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 40px;
  margin-top: 20px;
}

.pokemon-block,
.pokemon-block-back {
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
}

.img-container img {
  background-image: url("./blob.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 80%;
}

.img-container {
  justify-content: center;
  display: flex;
  align-items: center;
}

.pokemon-block p {
  margin: 3px;
}

.name {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1rem;
}

#spinner {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  margin: 30px auto;
}

.card img {
  width: 70%;
}

.no-results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  margin: 30px auto;
  color: #fff;
}
.volver {
  margin: 20px;
  border-radius: 5px;
}
.pagination {
  width: 90%;
  justify-content: flex-end;
  margin-left: 150px;
}
#previous a {
  color: #a60ad2;
}
#next a {
  color: #a60ad2;
}
.card-container {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .card-container {
  transform: rotateY(180deg);
}

.pokemon-block,
.pokemon-block-back {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.pokemon-block-back {
  transform: rotateY(180deg);
  position: absolute;
  top: 0%;
  padding: 30px;
}

.footer {
  display: grid;
  grid-template-columns: 10fr 12fr 10fr 10fr 10fr;
  font-size: x-small;
  height: 160px;
  gap: 100px;
  padding: 20px;
  align-items: center;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

h6 {
  padding-left: 30px;
}
.footerImagesFb,
.footerImagesYt,
.footerImagesTw,
.footerImagesIg {
  width: 50px;
  height: 50px;
}
.imgFooter {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.footerImagesFb img {
  width: 40px;
}
.footerImagesYt img {
  width: 40px;
}
.footerImagesTw img {
  width: 40px;
}
.footerImagesIg img {
  width: 40px;
}

.footerThree {
  padding-left: 60px;
}
.footerThree img {
  padding-left: 20px;
}












/* Estilos para dispositivos móviles */

@media only screen and (max-width: 768px) {

  .body{
    background-color: #c982dc;
   }
  /* ocultamos el menú Desktop */
  .menuGrande {
    display: none;
  }
  .header {
    position: relative;
  }

  .menu {
    position: relative;
    z-index: 100;
    font-size: x-small;
    max-height: none;
    flex-direction: column;
    border-bottom: 1px solid #444;
    cursor: pointer;
    padding-right: 10px;
    padding-left: 0px;
  }
  .navbar-header {
    display: flex;
    justify-content: space-around;
  }
  .buttonBurguer {
    display: flex;
    margin-left: 50px;
    margin-right: 20px;
    padding-top: 20px;
    background-color: #333;
    justify-content: space-between;
  }
  .boton {
    background-color: #333;
  }

  .menu-hidden {
    display: none;
  }
  .menu-hamburguesa {
    
    display: block;
    justify-content: space-around;
    background-color: #333;
  }

  .inicioSesion {
    display: flex;
    top: -50px;
    justify-content: space-between;
    cursor: pointer;
  }

  .menu a {
   
    margin-left: 40px;
    padding: 0.5rem;
    color: #333;
    background-color: #aba6a6;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
  }

  .menu a:hover {
    background-color: #f3ec1b;
    font-weight: 600;
  }

  .toggle-menu:checked + .icono-menu {
    color: #fff;
  }
  .logoPokemon img {
    display: block;
    width: 50%;
    margin-left: 22%;
    padding-bottom: 20px;
  }
  .campo {
    width: 100%;
    margin-left: 20px;
  }

  .buscadorYParrafo {
    width: auto;
    font-size: large;
  }
  .buscador {
    background-color: #333;
    margin-left: -40px;
  }
  .buscador h4 {
    margin-left: 40px;
    font-size: medium;
    color: #ede2e2;
    margin-bottom: -10%;
    padding-bottom: 10px;
  }
  p {
    margin: 0;
    font-size: medium;
    padding: 20px;
    text-align: left;
  }
  #busqueda {
    display:flex;
    position: relative;
    border-radius: 5px;
    margin-left: 15px;
    width: 100%;
  }
  .btn img {
    display:flex;
    position: absolute;
    height: 46px;
    margin-left: 5%;
    top: 45%;
     
  }
  .parrafoVerde {
    margin-left: 0px;
   
    top:100px;
    width: 100%;
    background-color: #3faa11;
    color: #fffefe;
  }
 
 .ordenarPor {
    margin-top:40px;
    width: 50%; 
    text-align: center;
    
       
  }
  
  .ordenar-por{
    position: relative;
    left: -940px;
    height: 50px;
  }
  
  .ordenarPor h4{
    cursor: pointer;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    font-size: small;
    background-color: #333;
    border-radius: 5px;
    color: #fff;
    width: 80%;
    padding: 10px;
  
  }
  
  .numeroInferior {
    
    position: absolute;
    cursor: pointer;
    width: auto;
    height: 50px;
    justify-content: space-around;
    background-color: #333;
    border-radius: 5px;
    color: #f8f8f8;
    padding: 5px;
    left: -150px;
    top: 55px;
    
  }
  .numeroInferior h4 {
    width: 100%;
    padding-top: 7px;
    font-size: small;
    text-align: center;
    border: #dfcde4;
  }
  .pokemon-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    
  }
  .pagination {
    width: 40%;
    text-align: center;
    padding-top: 10px;
  }

  .card-container {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
    .pokemon-block p {
      justify-content: center;
      align-items: center;
      text-align: center;
   
  }

  .flip-card:hover .card-container {
    transform: rotateY(180deg);
  }

  .pokemon-block,
  .pokemon-block-back {
    width: 100%;
    height: 100%;
    
    backface-visibility: hidden;
  }

  .pokemon-block-back {
    transform: rotateY(180deg);
    position: absolute;
    top: 0%;
  }

  .stat-container {
    display: grid;
    padding: 5px;
    font-size: x-small;
  }
 
    .card{
      width: 100%;
    }
    .volver p{
      text-align: center;
    }
    .no-results{
      width: 100%;
      text-align: center;
      color: #fff;
  }
  .footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0%;
    padding: 20px;
    font-size: xx-small;
    width: 100%;
    height: 500px;
    background-color: #333;
    color: #fff;
  }
h6 {
  justify-content: center;
}
  .footerOne {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  .footerTwo {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  .footerOne ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
  }
  .footerTwo ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;

  }
  .imgFooter {
    display: flex;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    padding-bottom: 10px;
    margin-left: 25%;
  }

  .footerImagesFb img {
    display: flex;
    width: 35px;
      }

  .footerImagesYt img {
    display: flex;
    width: 35px;
  }
  .footerImagesTw img {
    display: flex;
    width: 35px;
  }
  .footerImagesIg img {
    display: flex;
    width: 35px;
  }
  .footerThree {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  .footerThree img{
    display: flex;
    flex-direction: column;
    padding-left: 0;
    padding-bottom: 20px;
    margin: 0;
    justify-content: center;
  }
  .footerFour {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  .footerThree ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;

  }
  .footerFour ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;

  }

}